
@import "normalize";
@import "fonts";
@import "settings"; //contains all overrides for foundation defaults
@import "foundation";

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}


.facebook-login-button,
.facebook-user {
    padding-top:1em;
}

.facebook-user-name {
    margin-left:1em;
}

.checkins.inline-list {
	overflow: visible;
}

.row-title {
    padding-top:1em;
}

.stomp-stop {
    margin-bottom:2rem;
}

.card {
    .fn {
    	margin-top: 0;
        margin-bottom:0;
    }

    .postal-address {
        padding-bottom:0.5em;
    }

    .button-directions {
        margin-bottom:0;
    }
}

address .street-address {
	display:block;
}

.checkins{
    .checkin-list {
        padding-top:1px;
        padding-bottom:1px;
    }

    .checkin {
        margin-bottom:1.375rem;
    }

    .checkin-user-thumb {
        display:block;
        width:50px;
        height:50px;
    }
}

footer.row {
    margin-top:4rem;
}
